uorb start
qshell start

param set SYS_AUTOSTART 4001
param set SYS_MC_EST_GROUP 1
param set ATT_EXT_HDG_M 2

param set NAV_GPSF_LT 2
param set NAV_GPSF_R 0
param set NAV_GPSF_P 0
param set NAV_GPSF_TR 0.5

param set LPE_FUSION 0
param set LPE_VIC_P 0.001
param set LPE_PN_V 0.5
param set LPE_T_MAX_GRADE 0.0

param set ATT_W_MAG 0.00
param set ATT_W_EXT_HDG 10

param set MC_PITCHRATE_D 0.001
param set MC_PITCHRATE_I 0.001
param set MC_PITCHRATE_P 0.15
param set MC_PITCH_P 4

param set MC_ROLLRATE_D 0.002
param set MC_ROLLRATE_I 0
param set MC_ROLLRATE_P 0.12
param set MC_ROLL_P 4

param set MC_YAWRATE_P 0.1
param set MC_YAW_P 1.5
# param set MC_YAW_FF 0.5

sleep 1
#gps start -d /dev/tty-4
param set MAV_TYPE 2

df_hmc5883_wrapper start
df_mpu9250_wrapper start
df_bmp280_wrapper start
#df_trone_wrapper start
#df_isl29501_wrapper start


sensors start
commander start
#ekf2 start
attitude_estimator_q start
local_position_estimator start
land_detector start multicopter
mc_pos_control start
mc_att_control start

snapdragon_pwm_out start
#spektrum_rc start
