uorb start
muorb start
logger start -t -b 200
param set MAV_BROADCAST 1
param set SDLOG_PRIO_BOOST 3
param set LPE_FUSION 0
dataman start
navigator start
mavlink start -u 14540 -o 14530 -r 5000000
mavlink start -u 14555 -o 14550 -r 10 -m onboard
sleep 1
mavlink stream -u 14540 -s HIGHRES_IMU -r 50
mavlink stream -u 14540 -s ATTITUDE -r 50
mavlink stream -u 14540 -s RC_CHANNELS -r 20